{
    "defaults": {
        "level": "warning",
        "wait": 500,
        "chromeLaunchConfig": {
            "ignoreHTTPSErrors": true,
            "args": ["--disable-dev-shm-usage", "--no-sandbox"]
        }
    },
    "urls": [
        "http://127.0.0.1:3000/",
        "http://127.0.0.1:3000/about",
        "http://127.0.0.1:3000/changelog",
        "http://127.0.0.1:3000/citation-and-license",
        "http://127.0.0.1:3000/download",
        "http://127.0.0.1:3000/faq",
        "http://127.0.0.1:3000/methodology",
        "http://127.0.0.1:3000/msa",
        "http://127.0.0.1:3000/plot",
        "http://127.0.0.1:3000/publications",
        "http://127.0.0.1:3000/sequencesearch"
    ]
}
